/snake/.idea/
/snake/*.iml
/snake/target/
/snake/build/
/snake/dist/
/snake/.settings/
/snake/*.classpath
/snake/*.project
/snake/.manager/
/snake/.scala_dependencies/
/snake/.vscode/
/snake/build.log
/snake/dependency-reduced-pom.xml
/.DS_Store

