/snake/.idea/
/snake/*.iml
/snake/target/
/snake/build/
/snake/dist/
/snake/.settings/
/snake/*.classpath
/snake/*.project
/snake/.manager/
/snake/.scala_dependencies/
/snake/.vscode/
/snake/build.log
/snake/dependency-reduced-pom.xml

/.DS_Store

/treasure-island/.idea/
/treasure-island/*.iml
/treasure-island/target/
/treasure-island/build/
/treasure-island/dist/
/treasure-island/.settings/
/treasure-island/*.classpath
/treasure-island/*.project
/treasure-island/.manager/
/treasure-island/.scala_dependencies/
/treasure-island/.vscode/
/treasure-island/build.log
/treasure-island/dependency-reduced-pom.xml

